<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.50.1.392" targetFramework="net45" />
  <package id="EasyNetQ.Management.Client" version="0.47.12.38" targetFramework="net45" />
  <package id="JetBrains.Annotations.Redist" version="7.1" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net45" />
  <package id="Selkie.EasyNetQ" version="0.6.162.0" targetFramework="net45" />
  <package id="Selkie.Windsor" version="0.6.224.0" targetFramework="net45" />
</packages>